.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex-grow: 1;

  .profileImg {
    width: 100%;
    height: 500px;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
