.container {
  background-color: #fff;
  border-radius: 8px;
  margin: 90px auto;
  width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  .title {
    font-size: 40px;
    color: #334155;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
}
